body
{
    color: #4d4f53;
}

a, a:visited
{
    color: #0079bd;
}
a:hover
{
    opacity: 0.8;
}

.container
{

}

#coverflow
{
    width: 100%;
    clear: both;
    overflow: auto;
    min-height: 300px;
    height: 100%;
}
#coverflow img
{
    border: 1px solid black;
    height: auto !important;
    max-width: 150px !important;
    max-height: 223px !important;

    opacity: 0.9;
}

#coverflow img:hover
{
    cursor: pointer;
    opacity: 1.0;
    border: 1px solid #D3D6FF;
}

.coverflow-selected
{
    opacity: 1.0 !important;
    border: 1px solid #D3D6FF !important;
}

.coverflow-meta
{
    position: relative !important;
    width: 100%  !important;
    clear: both;
    overflow: hidden;
    top: auto !important;
    left: auto !important;
    margin: 350px 0px 20px 0px;
    font-size: 1.8em;
    background: #D3D6FF;
}





.cover
{
    max-width: 100px;
}

#movie-table
{

}

.meta-list
{
    list-style: none;
}

#failed, #unmatched
{
    margin: 40px 0px 0px 0px;
}

#footer
{
    padding: 20px 0px 20px 0px;
    margin: 40px 0px 20px 0px;
    text-align: center;
    font-size: 1.1em;
    color: #706f5c
}